* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.cabecera {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.cuerpo {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.banner {
    text-align: center;
    flex-direction: column;
    margin: auto;
    border: 1px solid #000;
    margin: 1rem;
    padding-top: 1rem;
}

.banner_text {
    text-align: justify;
    margin: 1rem;
}


.columna {
    max-width: 125px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner_categories {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.category {
    width: 125px;
    height: 175px;
    display: inline;
    justify-content: center;
    margin: 15px;
}

@media screen and ( max-width : 900px ) {
    

    .linea {
        flex-direction: column;
    }
}